# Logs
logs
*.log

# Profilers
callgrind.out.*
*.cprof

# Python cache
__pycache__
*.pyc

# ESPHome
partitions.csv

# ZHA
/zigbee.*

# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json
*.pem
*.key
*.crt
life360.sh
.ip_authenticated.yaml
ip_bans.yaml
.config_entries.json
*.google.token
.google.token
.ring_cache.pickle
.spotify-token-cache
.storage
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*
known_devices.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
SERVICE_ACCOUNT.json
components
deps
tts
www/*

downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
.cloud
*.pickle
*.pyc
.pc-session
google*.deb
.homekit.state

# Custom Components
camera/*
.HA_VERSION
image/*
*/test/*
workspace.code-workspace
.google_maps_location_sharing.cookies.*
# Custom Components
custom_components/ai_automation_suggester
custom_components/battery_notes
custom_components/bermuda
custom_components/cloudflare_tunnel_monitor
custom_components/ecoflow_cloud
custom_components/ember_mug
custom_components/extended_openai_conversation
custom_components/family_safety
custom_components/flightradar24
custom_components/frigate
custom_components/garmin_connect
custom_components/google_fit
custom_components/goxlr_utility
custom_components/gpt4vision
custom_components/hacs
custom_components/hive
custom_components/hildebrand_glow_ihd
custom_components/localtuya
custom_components/nest_protect
custom_components/nuki_ng
custom_components/octopus_energy
custom_components/powercalc
custom_components/solcast_solar
custom_components/sonoff
custom_components/spook
custom_components/spook_inverse
custom_components/stream_assist
custom_components/tesla_custom
custom_components/uptime_kuma
watchman*
themes/*