# Created by Danny Tsang <danny@tsang.uk>
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
homeassistant:
  customize: !include customize.yaml
  # https://github.com/BeardedTinker/Home-Assistant_Config/issues/21
  allowlist_external_dirs: !include allowed_external_dirs.yaml
  allowlist_external_urls: !include allowed_external_urls.yaml
  media_dirs:
    llmvision: !secret llmvision_folder
    recording: !secret camera_folder
  packages: !include_dir_named packages/

# Text to speech
tts:
  - platform: google_translate

automation ui: !include automations.yaml
device_tracker: !include device_tracker.yaml
frontend:
  themes: !include_dir_merge_named themes
input_text: !include input_text.yaml
notify: !include notify.yaml
scene: !include scenes.yaml
# https://community.home-assistant.io/t/script-editor-and-split-up-files/40459/29?u=tuxinator94
script ui: !include scripts.yaml
sensor: !include sensor.yaml

cloud:

conversation:

# https://github.com/chomupashchuk/delete-file-home-assistant
delete:

ffmpeg:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret trusted_proxy1
    - !secret trusted_proxy2
    - !secret trusted_proxy3

influxdb:
  api_version: 2
  ssl: !secret influxdb_ssl
  host: !secret influxdb_host
  port: !secret influxdb_port
  verify_ssl: !secret influxdb_verify_ssl
  token: !secret influxdb_token
  organization: !secret influxdb_organization_id
  bucket: !secret influxdb_bucket

logger:
  default: error

media_player:

openid:
  client_id: !secret open_id_client_id
  client_secret: !secret open_id_client_secret
  configure_url: !secret open_id_configure_url
  username_field: "email"
  scope: "openid profile email"
  # block_login: false

powercalc:
  discovery:
    enabled: true
    exclude_self_usage: true
    exclude_device_types:
      - light

python_script:

recorder:
  db_url: !secret recorderdb
  purge_keep_days: 30
  exclude:
    domains: [automation, calendar, conversation, image, image_processing, remote, stt, sun, tts, todo, updater]
    entities:
      - sensor.dannys_phone_last_notification
      - sensor.battery_charge_remaining_hours
      - sensor.time_to_charge_battery
    entity_globs:
      - sensor.time
      - sensor.time_*
      - sensor.date
      - sensor.date_time*
      - sensor.uptime*
      # ESPHome diagnostic sensors (high frequency, low value)
      - sensor.*_wifi_signal*
      - sensor.*_uptime
      - sensor.*_rssi
      - sensor.*_ip_address
      - binary_sensor.*_status  # Device online/offline status
      # Media player state (constantly changing, rarely useful)
      - media_player.*_volume_level
      - media_player.*_media_position

# Example LL-HLS configuration.yaml entry.
stream:
  ll_hls: true
  part_duration: 0.75
  segment_duration: 6

sonoff:
  username: !secret sonoff_username
  password: !secret sonoff_password

system_health:

wake_on_lan:
