# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
aqicn_token: a
callmebot_dannys_whatsapp_phone_number: 1
callmebot_dannys_whatsapp_api: 1
camera_deepstack_conservatory: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_driveway: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_frontdoor: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_kitchen: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_lounge: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_office: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_deepstack_upstairs: https://images.bisnis-cdn.com/posts/2018/01/19/728229/new-eric-tsang.jpg
camera_folder: /home/travis/build/dannytsang/homeassistant-config/config/camera
copy_conservatory_deepstack_files_command: "ls"
copy_driveway_deepstack_files_command: "ls"
copy_front_door_deepstack_files_command: "ls"
copy_lounge_deepstack_files_command: "ls"
copy_office_deepstack_files_command: "ls"
copy_upstairs_deepstack_files_command: "ls"
danny_email: someone@cares.com
deebot_restcommand_reload_token: Bearer a
deebot_restcommand_reload_url: https://domain/api/config/config_entries/entry/id/reload
deepstack_api_key: a
deepstack_host: 192.168.1.1
deepstack_port: 5000
double_take_url: https://dannytsang.com
# https://community.home-assistant.io/t/automation-to-delete-files-from-folder-older-than-x-days/199993/8
external_camera_url: /camera
external_url: https://dannytsang.com
fuelly_rss: https://dannytsang.com
gmail_sender: someone@cares.com
gmail_username: someone@cares.com
gmail_password: a
ibeacon_id_jd_pc: "msft:a"
ibeacon_id_terinas_phone: "iBeacon:a"
ibeacon_id_work_headset: "name:a"
ifttt: a
image_processing_conservatory: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_driveway: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_faces: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_front_door: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_lounge: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_office: /home/travis/build/dannytsang/homeassistant-config/config/camera
image_processing_upstairs: /home/travis/build/dannytsang/homeassistant-config/config/camera
office_tv_address: 192.168.1.1
office_tv_mac_address: "A0:A0:A0:A0:A0:A0"
pocketcast_username: a
pocketcast_password: a
recorderdb: mysql://homeassistant:password@localhost:3306/homeassistant?charset=utf8mb4
slack: a
slack_home_assistant_id: a
sonoff_username: a
sonoff_password: a
stash_key: a
stash_url: https://dannytsang.com/graphql
telegram_key: a
telegram_danny_chat_id: a
terina_email: someone2@cares.com
toggl: a
todoist: a
trusted_proxy1: 192.168.1.1
twitter_consumer_key: a
twitter_consumer_secret: a
twitter_access_token: a
twitter_access_secret: a
waqi_location1: london
weather_warning_rss: https://dannytsang.com/rss
