# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
camera_folder: /home/travis/build/dannytsang/homeassistant-config/config/camera
danny_email: someone@cares.com
energyathome: mysql://homeassistant:password@192.168.1.1/energyathome
gmail_sender: someone@cares.com
gmail_username: someone@cares.com
gmail_password: a
google_id: apps.googleusercontent.com
google: a
harmony: 192.168.1.1
hive: 5uKjAtLVCkMl
hive_username: someone@cares.com
ifttt: a
influxdb: a
influxdb_host: 192.168.1.1
lifx_bathroom_ip: 192.168.1.1
lifx_leos_bedroom_ip: 192.168.1.1
lifx_lounge_left_ip: 192.168.1.1
lifx_lounge_right_ip: 192.168.1.1
lifx_office_1_ip: 192.168.1.1
lifx_office_2_ip: 192.168.1.1
lifx_office_3_ip: 192.168.1.1
lifx_office_4_ip: 192.168.1.1
lifx_porch_ip: 192.168.1.1
lifx_stairs_ip: 192.168.1.1
octoprint: 192.168.1.1
octoprint_api: a
office_tv_address: 192.168.1.1
office_tv_mac_address: "A0:A0:A0:A0:A0:A0"
recorderdb: mysql://homeassistant:password@localhost:3306/homeassistant?charset=utf8
slack: a
spotify_client: a
spotify_secret: a
switchbot_curtain_right: A0:A0:A0:A0:A0:A0
switchbot_curtain_left: A0:A0:A0:A0:A0:A0
terina_email: someone2@cares.com
toggl: a
todoist: a
tplink_fan: 192.168.1.1
twitter_consumer_key: a
twitter_consumer_secret: a
twitter_access_token: a
twitter_access_secret: a
uktransport_id: a
uktransport: a
withings_client: a
withings_secret: a
