# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
aqicn_token: a
aruba_ip: 192.168.1.1
aruba_username: a
aruba_password: a
callmebot_dannys_whatsapp_phone_number: 1
callmebot_dannys_whatsapp_api: 1
camera_folder: camera
danny_email: someone@cares.com
deebot_restcommand_reload_token: Bearer a
deebot_restcommand_reload_url: https://domain/api/config/config_entries/entry/id/reload
# https://community.home-assistant.io/t/automation-to-delete-files-from-folder-older-than-x-days/199993/8
external_camera_url: /camera
external_url: https://dannytsang.com
external_url_2: https://dannytsang.com
fuelly_rss: https://dannytsang.com
gmail_sender: someone@cares.com
gmail_username: someone@cares.com
gmail_password: a
ibeacon_id_jd_pc: "msft:a"
ibeacon_id_terinas_phone: "iBeacon:a"
ibeacon_id_work_headset: "name:a"
image_processing_conservatory: camera
image_processing_driveway: camera
image_processing_faces: camera
image_processing_front_door: camera
image_processing_lounge: camera
image_processing_office: camera
image_processing_upstairs: camera
influxdb_ssl: false
influxdb_host: 192.168.1.1
influxdb_port: 8086
influxdb_verify_ssl: false
influxdb_token: a
influxdb_organization_id: a
influxdb_bucket: a
internal_url: http://192.168.1.1:8123
office_tv_address: 192.168.1.1
office_tv_mac_address: "A0:A0:A0:A0:A0:A0"
paperless_inbox_url: http://192.168.1.1:8000/api/tags/1/
paperless_inbox_token: Token a
petrol_prices_asda: "$.stations[?(@.site_id=='a')]"
petrol_prices_asda_name: a
petrol_prices_asda_diesel_name: "a"
petrol_prices_asda_e10_name: "a"
petrol_prices_sainsburys_1: "$.stations[?(@.site_id=='a')]"
petrol_prices_sainsburys_1_name: a
petrol_prices_sainsburys_1_diesel_name: "a"
petrol_prices_sainsburys_1_e10_name: "a"
petrol_prices_sainsburys_1_e5_name: "a"
petrol_prices_sainsburys_2: "$.stations[?(@.site_id=='a')]"
petrol_prices_sainsburys_2_name: a
petrol_prices_sainsburys_2_diesel_name: "a"
petrol_prices_sainsburys_2_e10_name: "a"
petrol_prices_sainsburys_2_e5_name: "a"
petrol_prices_shell: "$.stations[?(@.site_id=='a')]"
petrol_prices_shell_name: a
petrol_prices_shell_diesel_name: "a"
petrol_prices_shell_petrol_name: "a"
petrol_prices_tesco_1: "$.stations[?(@.site_id=='a')]"
petrol_prices_tesco_1_name: a
petrol_prices_tesco_1_diesel_name: "a"
petrol_prices_tesco_1_e10_name: "a"
petrol_prices_tesco_1_e5_name: "a"
petrol_prices_tesco_2: "$.stations[?(@.site_id=='a')]"
petrol_prices_tesco_2_name: a
petrol_prices_tesco_2_diesel_name: "a"
petrol_prices_tesco_2_e10_name: "a"
petrol_prices_tesco_2_e5_name: "a"
pocketcast_username: a
pocketcast_password: a
recorderdb: mysql://homeassistant:password@localhost:3306/homeassistant?charset=utf8mb4
signal_api_server: "http://192.168.1.1:8080"
signal_phone_number: "+4412345678901"
signal_recipient1: "+4412345678901"
signal_receive_url: http://192.168.1.1:8080/v1/receive/+4412345678901
slack: a
slack_home_assistant_id: a
sonoff_username: a
sonoff_password: a
terina_email: someone2@cares.com
teslamate_url: https://dannytsang.com/
toggl: a
todoist: a
trusted_proxy1: 192.168.1.1
trusted_proxy2: 192.168.1.2
trusted_proxy3: 192.168.1.3
weather_warning_rss: https://dannytsang.com/rss
