# Created by Danny Tsang <danny@tsang.uk>
{% macro calculate_ecoflow_delta2_charge_rate(excess_amount, increment_amount) %}

{{ ((states('sensor.ecoflow_kitchen_solar_excess')|float(0) / increment_amount)|int(0)) * increment_amount }}

{% endmacro %}