# Created by Danny Tsang <danny@tsang.uk>
{%- macro calculate_ecoflow_delta2_charge_rate(excess_amount, increment_amount, max_charge_rate) -%}
{%- set charge_rate = ((excess_amount / increment_amount)|int(0)) * increment_amount -%}
{{ iif(charge_rate > max_charge_rate, max_charge_rate, charge_rate) }}
{%- endmacro -%}