# Created by Danny Tsang <danny@tsang.uk>
{%- macro calculate_charge_battery_amount(forecast_kwh) -%}
{%- if forecast_kwh|float(0) < 5 -%}
90
{%- elif forecast_kwh|float(0) >= 5
and forecast_kwh|float(0) < 11.5 -%}
75
{%- elif forecast_kwh|float(0) >= 11.5
and forecast_kwh|float(0) < 14 -%}
70
{%- elif forecast_kwh|float(0) >= 14
and forecast_kwh|float(0) < 17 -%}
60
{%- elif forecast_kwh|float(0) >= 17
and forecast_kwh|float(0) < 18 -%}
50
{%- elif forecast_kwh|float(0) >= 18 -%}
23
{%- endif -%}
{%- endmacro -%}