# Created by Danny Tsang <danny@tsang.uk>
{%- macro get_weather(text, platform) -%}
{%- if platform == 'Slack' -%}
  {%- if text == "rainy" or text == "pouring" -%}
  :rain_cloud:
  {%- elif text == "cloudy" -%}
  :cloud:
  {%- elif text == "partlycloudy" -%}
  :partly_sunny:
  {%- elif text == "sunny" -%}
  :sunny:
  {%- elif text == "lightning-rainy" -%}
  :thunder_cloud_and_rain:
  {%- elif text == "lightning" or text == "lightning-rainy" -%}
  :lightning_cloud:
  {%- elif text == "windy" or text == "windy-variant" -%}
  :wind_blowing_face:
  {%- elif text == "snowy" -%}
  :snow_cloud:
  {%- elif text == "fog" -%}
  :fog:
  {%- elif text == "exceptional" -%}
  :warning:
  {%- endif -%}
{%- elif p == 'Discord' -%}
  {%- if text == "rainy" or text == "pouring" -%}
  :rain_cloud:
  {%- elif text == "cloudy" -%}
  :cloud:
  {%- elif text == "partlycloudy" -%}
  :partly_sunny:
  {%- elif text == "sunny" -%}
  :sunny:
  {%- elif text == "lightning-rainy" -%}
  :thunder_cloud_and_rain:
  {%- elif text == "lightning" or text == "lightning-rainy" -%}
  :lightning_cloud:
  {%- elif text == "windy" or text == "windy-variant" -%}
  :wind_blowing_face:
  {%- elif text == "snowy" -%}
  :snow_cloud:
  {%- elif text == "fog" -%}
  :fog:
  {%- elif text == "exceptional" -%}
  :warning:
  {%- endif -%}
{%- elif p == 'Telegram' -%}
  {%- if text == "rainy" or text == "pouring" -%}
  :rain_cloud:
  {%- elif text == "cloudy" -%}
  :cloud:
  {%- elif text == "partlycloudy" -%}
  :partly_sunny:
  {%- elif text == "sunny" -%}
  :sunny:
  {%- elif text == "lightning-rainy" -%}
  :thunder_cloud_and_rain:
  {%- elif text == "lightning" or text == "lightning-rainy" -%}
  :lightning_cloud:
  {%- elif text == "windy" or text == "windy-variant" -%}
  :wind_blowing_face:
  {%- elif text == "snowy" -%}
  :snow_cloud:
  {%- elif text == "fog" -%}
  :fog:
  {%- elif text == "exceptional" -%}
  :warning:
  {%- endif -%}
{%- elif p == 'Mobile' -%}
  {%- if text == "rainy" or text == "pouring" -%}
  🌧
  {%- elif text == "cloudy" -%}
  ☁
  {%- elif text == "partlycloudy" -%}
  ⛅
  {%- elif text == "sunny" -%}
  ☀
  {%- elif text == "lightning-rainy" -%}
  ⛈
  {%- elif text == "lightning" or text == "lightning-rainy" -%}
  🌩
  {%- elif text == "windy" or text == "windy-variant" -%}
  🌬
  {%- elif text == "snowy" -%}
  🌨
  {%- elif text == "fog" -%}
  🌫
  {%- elif text == "exceptional" -%}
  ⚠
  {%- endif -%}
{%- endif -%}
{%- endmacro -%}