# Created by Danny Tsang <danny@tsang.uk
{%- macro get_cheapest_electricity_rates(number_of_rates) -%}
{%- set rates = namespace(cheapest=[]) -%}
{%- for rate in state_attr('sensor.electricity_current_rate', 'all_rates') -%}
  {% if rate.valid_to >= now() %}
    {%- if rates.cheapest|length < number_of_rates -%}
      {%- set rates.cheapest = rates.cheapest + [rate] -%}
    {%- else -%}
      {%- for cheapest_rates in rates.cheapest -%}
        {% if cheapest_rates.value_inc_vat|float(0) > rate.value_inc_vat|float(0) %}
          {%- set ignore = rates.cheapest.pop(loop.index0) -%}
          {%- set rates.cheapest = rates.cheapest + [rate] -%}
          {% break %}
        {%- endif -%}      
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor-%}
{{ rates.cheapest }}
{%- endmacro -%}