substitutions:
  name: "bathroom-motion"
packages:
  Everything_Smart_Technology.Everything_Presence_One: github://everythingsmarthome/presence-one/everything-presence-one-ble.yaml@main
  bluetooth_base: !include common/bluetooth-base.yaml

esphome:
  name: ${name}
  name_add_mac_suffix: false
  #  https://community.home-assistant.io/t/compilation-fails-xtensa-lx106-elf-g-fatal-error-killed-signal-terminated-program-cc1plus/463184/14
  compile_process_limit: 1

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

sensor:
  - platform: wifi_signal
    name: "WiFi Signal Strength"
    id: wifi_signal_strength
    update_interval: 10s

  # Track how long the device has been connected
  - platform: uptime
    name: "Uptime"
    id: device_uptime
    update_interval: 60s

  # Count disconnections (resets on reboot)
  - platform: template
    name: "Disconnect Count"
    id: disconnect_count
    accuracy_decimals: 0
    lambda: 'return id(disconnect_counter);'

globals:
  - id: disconnect_counter
    type: int
    restore_value: yes
    initial_value: '0'

  - id: was_connected
    type: bool
    restore_value: no
    initial_value: 'true'

interval:
  - interval: 5s
    then:
      - if:
          condition:
            not:
              wifi.connected:
          then:
            - if:
                condition:
                  lambda: 'return id(was_connected);'
                then:
                  - lambda: 'id(disconnect_counter) += 1;'
                  - globals.set:
                      id: was_connected
                      value: 'false'
                  - logger.log:
                      level: WARN
                      format: "WiFi disconnected! Total disconnects: %d"
                      args: ['id(disconnect_counter)']
          else:
            - if:
                condition:
                  lambda: 'return !id(was_connected);'
                then:
                  - globals.set:
                      id: was_connected
                      value: 'true'
                  - logger.log:
                      level: INFO
                      format: "WiFi reconnected after disconnect"
