substitutions:
  name: "living-room-motion"

packages:
  Everything_Smart_Technology.Everything_Presence_One: github://everythingsmarthome/presence-one/everything-presence-one-sen0609-ble.yaml@main

esphome:
  name: ${name}
  name_add_mac_suffix: false
  #  https://community.home-assistant.io/t/compilation-fails-xtensa-lx106-elf-g-fatal-error-killed-signal-terminated-program-cc1plus/463184/14
  compile_process_limit: 1

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

sensor:
  # Track how long the device has been connected
  - platform: uptime
    name: "Uptime"
    id: device_uptime
    update_interval: 60s

  # Count disconnections (resets on reboot)
  - platform: template
    name: "Disconnect Count"
    id: disconnect_count
    accuracy_decimals: 0
    lambda: 'return id(disconnect_counter);'

  - platform: wifi_signal
    name: "${device_name} WiFi Signal"
    id: wifi_signal_strength
    update_interval: 60s
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 5

time:
  - platform: homeassistant
    id: homeassistant_time

globals:
  - id: disconnect_counter
    type: int
    restore_value: yes
    initial_value: '0'

  - id: was_connected
    type: bool
    restore_value: no
    initial_value: 'true'

interval:
  - interval: 5s
    then:
      - if:
          condition:
            not:
              wifi.connected:
          then:
            - lambda: |-
                if (id(was_connected)) {
                  id(disconnect_counter) += 1;
                  id(was_connected) = false;
                  ESP_LOGW("wifi", "WiFi disconnected! Total: %d", id(disconnect_counter));
                }
          else:
            - lambda: |-
                if (!id(was_connected)) {
                  id(was_connected) = true;
                  ESP_LOGI("wifi", "WiFi reconnected");
                }
