ashlees_bed_ota_password: a
ashlees_bed_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=

boiler_encryption_api_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=
boiler_ota_password: a

bed_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=
bed_ota_password: a

conservatory_motion_3_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=

chlorophytum_comosum_ble_mac: "a"
sansevieria_trifasciata_ble_mac: "a"

leos_bed_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=
leos_bed_ota_password: a

living_room_motion_3_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=

office_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=
office_ota_password: a

water_softener_api_encryption_key: 7BxOlQNxXE9MDHjx+0W8nZIJAt1PUZpvb9mHo3nazqA=
water_softener_ota_password: a

# Your Wi-Fi SSID and password
wifi_ssid: "a"
wifi_password: "abcdefgh"

# BLE UUID
dannys_phone_ble_uuid: a