ashlees_bed_ota_password: a
ashlees_bed_api_encryption_key: a

bathroom_motion_api_encryption_key: a

boiler_ota_password: a
boiler_encryption_api_key: a

bed_ota_password: a
bed_api_encryption_key: a

conservatory_api_encryption_key: a

kitchen_api_encryption_key: a

lounge_api_encryption_key: a

chlorophytum_comosum_ble_mac: "a"
sansevieria_trifasciata_ble_mac: "a"
leos_bed_ota_password: a
leos_bed_api_encryption_key: a

water_softener_api_encryption_key: a
water_softener_ota_password: a

# Your Wi-Fi SSID and password
wifi_ssid: "a"
wifi_password: "a"

# BLE UUID
dannys_phone_ble_uuid: a